@import url(STYLES/header.css);

:root{
--cor-de-fundo: #9949B4;
--cor-cabecalho: #FFFFFF;
}

body{
background-color: var(--cor-de-fundo);
margin: 0;
}

h2{
    color: bisque;
    padding: 1em;
}

p1{
    color: darkorange;
    padding: 1em;
}